externals/7zr.exe
externals/cnc-ddraw.2
configuration.ini
.vscode
tools/version/aok
tools/version/aoc
tools/version/fe
tools/fix/fix v*
tests/
tools/vm/visualmods/
tools/vm/vm.ahk
tools/lng/Language
tools/rec/browser
tools/rec/php
tools/rec/recanalyst
assets/
externals/
release/
screenshots/