tests/
configuration.ini
release/resources
tools/ahk/*
tools/dm/*
tools/fix/*
tools/game/*
tools/lng/*
tools/rec/*
tools/version/*
tools/vm/*
!tools/ahk/ahk.ahk
!tools/dm/datamods.ahk
!tools/fix/fix.ahk
!tools/game/game.ahk
!tools/game/uninstallgame.ahk
!tools/lng/language.ahk
!tools/rec/closephp.ahk
!tools/version/version.ahk
!tools/vm/visualmods.ahk

